 <!-- Feature Start-->
 <div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col animate__animated animate__fadeInLeft">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>{{ 'FEATURES.SECURE' | translate }}</h2>
                    <p>
                        {{ 'FEATURES.DESCRIPE1' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col animate__animated animate__fadeInLeft">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>{{ 'FEATURES.DELIVERY' | translate }}</h2>
                    <p>
                        {{ 'FEATURES.DESCRIPE2' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col animate__animated animate__fadeInRight">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>{{ 'FEATURES.RETUEN' | translate }}</h2>
                    <p>
                        {{ 'FEATURES.DESCRIPE3' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col animate__animated animate__fadeInRight">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>{{ 'FEATURES.SUPPORT' | translate }}</h2>
                    <p>
                        {{ 'FEATURES.DESCRIPE4' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
