<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="welcome">
                    <h1>{{ 'WEAREHERE' | translate }}</h1>
                    <p>{{ 'WEPARAGRAPH' | translate }}</p>
                    <div class="social">
                        <a href="https://www.instagram.com/estor">
                            <i class="fab fa-instagram" ></i>
                        </a>
                        <a href="https://facebook.com/estore">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://twitter.com/home?lang=en">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-md-5">
                <div class="info">
                    <h1>{{ 'WETALK' | translate}}</h1>
                    <p>{{ 'WEINFO' | translate }}</p>
                    <a href="eshop.agent@gmail.com">
                        eshop.agent@gmail.com
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
