<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="footer-widget">
                    <h2> {{ 'FOOTER.CONNECT' | translate }}</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker px-1"></i>123 E-Store Cairo</p>
                        <p><i class="fa fa-envelope px-1"></i>estore@gmail.com</p>
                        <p><i class="fa fa-phone px-1"></i>+20-116-7890</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="footer-widget">
                    <h2> {{ 'FOOTER.FOLLOWUS' | translate }}</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row payment align-items-center">
            <div class="col-md-12">
                <div class="payment-method text-center">
                    <!-- <h2>We Accept:</h2> -->
                    <img src="../../../../assets/images/payment-method.png" alt="Payment Method"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright">
                <p>{{ 'FOOTER.RIGHTS' | translate  }}</p>
            </div>
        </div>
    </div>
</div>
