<section class="container">
    <h2 class="header">
        <div class="title">
            <span>{{ 'SHIPPINGTITLE' | translate }}</span>
        </div>
        <div class="cancle">
            <i class="fas fa-times"></i>
        </div>
    </h2>
    <p>
       {{ 'SHIPPINGPAR1' |  translate }}
     </p>
    
    <p>
        {{ 'SHIPPINGPAR2' |  translate }}
    </p>
    <p>
        {{ 'SHIPPINGPAR3' |  translate }}
    </p>
    <p>  {{ 'SHIPPINGPAR4' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR5' |  translate }}</p> 
    <p>* {{ 'SHIPPINGPAR6' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR7' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR9' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR10' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR11' |  translate }}</p>
    <p>  {{ 'SHIPPINGPAR12' |  translate }}</p>
    <p>
    *   {{ 'SHIPPINGPAR13' |  translate }}
    </p>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</section>


