@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
section{
    font-family: 'Open Sans', sans-serif;
    overflow-y: scroll;
}
.header{
    padding: 48px 0px;
    border-bottom: 1px solid #ddddddeb;
    font-size: 25px;
    color: #353434;
    font-family: 'Open Sans', sans-serif;
}
.header .title {
    float: left;
    font-weight: 700;
}

.header .cancle{
    float: right;
}
.header .cancle i{
    font-weight: 100;
    color: #868181;
    cursor: pointer;
}
p{
    color: #060202;
    font-size: 15px;
    padding-bottom: 5px;
    line-height: 25px;
}