<div class="category">
    <div class="container">
        <div class="title">
            <h5 class="animate__animated animate__bounceIn">
                <span class="header">{{ 'HOME.CATEGORY' | translate }}</span>
            </h5>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 item animate__animated animate__slideInLeft">
                <div class="type-card" routerLink="/products/:women">
                    <img class="image card-img-bottom" src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2018/08/30/10/onlineshoppingclothing.jpg?width=968&auto=webp&quality=75&crop=968%3A645%2Csmart" alt="women">
                    <!-- <a class="see-all text-center">WOMEN</a> -->
                    <div class="overlay">
                        <!-- <a class="see-all text-center">GIRLS</a> -->
                        <div class="description">
                            {{ 'WOMENNEED' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-12 item animate__animated animate__slideInRight">
                <div class="type-card" routerLink="/products/:men">
                    <img class="image card-img-bottom" src="https://cdn.shopify.com/s/files/1/0506/5736/2089/files/Dare_1024x1024_crop_center.jpg?v=1626097801" alt="men" >
                    <!-- <a class="see-all text-center">MEN</a> -->
                    <div class="overlay">
                        <!-- <a class="see-all text-center">GIRLS</a> -->
                        <div class="description">
                            {{ 'MENNEED' | translate }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-12 item animate__animated animate__slideInUp">
                <div class="type-card" routerLink="/products/:boys">
                    <img class="image card-img-bottom" src="https://cdn.shopify.com/s/files/1/0506/5736/2089/files/Kids_97408dab-1b8d-499a-8193-cd9ace852aa9_600x_crop_center.jpg?v=1626097393" alt="Boys" >
                    <div class="overlay">
                        <!-- <a class="see-all text-center">GIRLS</a> -->
                        <div class="description">
                            {{ 'BOYSNEED' | translate }} 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-12 item animate__animated animate__slideInUp">
                <div class="type-card" routerLink="/products/:girls">
                    <img class=" image card-img-bottom" src="https://img.ltwebstatic.com/images3_pi/2021/04/28/16195866100b3b91a962f3dc1b094851e1d2b03ab2_thumbnail_600x.jpg" alt="girls">
                    <div class="overlay">
                        <!-- <a class="see-all text-center">GIRLS</a> -->
                        <div class="description">
                            {{ 'GIRLSNEED' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    